

.fondoRosa{
	background-color: pink;
}

.fondonaranja{
	background-color: orange
}	

.fondoverde{
		background: rgb(93, 128, 93);
		color:white;
}

.fondogris{
		background: gray;
		color:white;
}
.fondorojo{
		background: red;
		color:white;
}

a{
	text-decoration: none;
	color:red;
	font-size: 1.5em;
	padding:0.2em;
	margin:2em;
}
.imagen{
	width:200px;
	height: 100px;
}